/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

/* VARIABLES */

:root {
  --main-color: #281d49;
  --main-color-dark: #1c1433;
  --main-color-light: #696180;
  --green: #51cf66;
  --green-dark: #183e1f;
  --gray: #555;
  --scrollbar: #5f3dc4;
  --white-aplha-40: rgba(255, 255, 255, 0.4);
  --white-aplha-25: rgba(255, 255, 255, 0.25)
  --white-aplha-main: rgba(105, 97, 128, 0.644);
  --backdrop-filter-blur: blur(5px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--gray);

  /* try */
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

section {
  background-color: #fff;
  /* border-bottom: 1px solid var(--main-color-light); */
  backdrop-filter: var(--backdrop-filter-blur);
}

footer {
  background-color: #000;
  padding: 8rem;
  color: #fff;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

p {
  font-weight: 300;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

/*********************************/
/* HERO SECTON */
/*********************************/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.nav-items {
  display: flex;
  list-style-type: none;
  /* width: 50rem; */
  justify-content: space-around;
  font-size: 3rem;
}

.nav-items li {
  width: 20rem;
  text-decoration: none;
}

.nav-items a{
  color: #d4d2db;
  display: inline-block;
  transition: all 0.4s ease;
}

.nav-items a:hover,
.nav-items a:active {
  color: #fff;
  border-bottom: 1px solid #fff;

}

.hero-area {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-size: 8rem;
}

.hero {
  background-color: var(--main-color);
  height: 100vh;
  color: #fff;
  font-size: 3.6rem;
}

.hero-text {
  margin: 14rem 0 0 8rem;
  padding-bottom: 16rem;
}

.hero-text p {
  line-height: 1.5;
}

/* BUTTONS */

.btn {
  line-height: 1.5;
  background-color: var(--white-aplha-25);
  border: 1px solid var(--white-aplha-40);
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 3rem;
  color: var(--green);
  font-weight: 500;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  box-shadow: 9px 15px 39px -13px rgba(0,0,0,0.6);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #fff;
  background-color: var(--green);
}

.btn:active {
  background-color: var(--green-dark);
}

.socials {
  margin: 0 4rem 0 0;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 8rem;
  width: 8rem;
  margin: 2rem;
}

.icon-socials {
  height: 5rem;
  width: 5rem;
  transition: all 0.3s ease;
}

.icon-socials:hover,
.icon-socials:active {
  transform: translate(0, -0.6rem);
  color: var(--green);
}

.socials-item {
  margin: 2rem 4rem 2rem 0;
  color: #fff;
}

/*********************************/
/* ABOUT SECTON */
/*********************************/

.about-section {
  display: flex;
  justify-content: space-around;
  padding: 8rem;
}

.about-section p {
  line-height: 1.5;
  padding: 0 8rem 2rem 0;
}

.sub-heading {
  font-size: 5.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.information {
  position: relative;
  padding: 0 2rem 0 2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: -30%;
}

.skill-icon {
  height: 7rem;
  width: 7rem;
  margin-right: 3.2rem;
}

.headshot-container {
  display: flex;
  align-items: center;
  background-color: #dee2e6;
  border: 5px solid var(--white-aplha-40);
  border-radius: 50%;
  max-width: 25rem;
  max-height: 25rem;
}

.headshot {
  max-width: 25rem;
  border-radius: 50%;
}

/*********************************/
/* PROJECTS SECTON */
/*********************************/

.project-card {
  max-width: 40rem;
  max-height: 70rem;
  box-shadow: 5px 5px 20px rgba(170, 169, 169, 0.6);
  margin: 1.6rem;
  border-radius: 2.5rem;
}

.project-container {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
}

.projects-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 8rem;
}

.subtext {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1.2rem;
}

.project-title {
  font-size: 2rem;
}

.project-image {
  padding: 4rem;
  width: 100%;
  border-radius: 65px;
}

hr {
  margin: 4rem 2rem 3rem 2rem;
}

.btn-spacing {
  padding: 1.4rem;
}

.settings-icon {
  display: none;
  flex-direction: column;
  align-items: center;
}

.project-more-link {
  color: var(--scrollbar);
}

.project-more-link:link {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  border-bottom: 1px solid var(--scrollbar);
  transition: all 0.3s;
  margin-top: 3rem;
}
.project-more-link:hover, 
.project-more-link:active {
  color: var(--gray);
  border-bottom: 1px solid #fff;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-message {
  padding: 2rem;
  margin-bottom: 2rem;
}

.btn-left {
  margin-right: 1rem;
}

.btn-right {
  margin-left: 1rem;
}


/*********************************/
/* MEDIA QUERIES */
/*********************************/

@media only screen and (max-width: 1100px) {
  .about-section {
    display: flex;
    flex-wrap: wrap;
  }

  .information {
    margin-bottom: 8rem;
  }

  .project-container {
    max-width: 90rem;
  }

  .project-card {
    max-width: 36rem;
    max-height: 66rem;
  }

  .skills {
    left: 15%;
    bottom: -40%;
  }
  
  .skill-icon {
    height: 5.8rem;
    width: 5.8rem;
    margin-bottom: 5rem;
    margin-right: 3.2rem;
  }
}

@media only screen and (max-width: 1090px) {
  .about-section p {
    padding: 0 2rem 0 2rem;
  }
} 

@media only screen and (max-width: 1000px) {
  .hero-title {
    font-size: 7rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    line-height: 1.2;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
  }

  .settings-icon {
    display: block;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 6rem;
    margin: 2rem;
    cursor: pointer;
    align-self: flex-end;
  }

  .nav-items.show {
    display: block;
  }
  
  .nav-items {
    display: none;
    background-color: var(--main-color-dark);
    margin: 0;
  }

  .nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--main-color-dark);
  }

  .logo {
    display: none;
  }

  .project-container {
    max-width: 78rem;
  }

  .project-card {
    max-width: 30rem;
    max-height: 60rem;
  }

  .project-more-link:link {
    font-size: 1.8rem;
  }

  hr {
    margin: 2rem 1rem 2rem 1rem;
  }

  .margin-bottom {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .hero-title {
    font-size: 6rem;
  }

  .about-section p {
    padding: 0 2rem 2rem 0;
  }

  .skills {
    left: 15%;
    bottom: -25%;
  }
  
  .skill-icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 3.2rem;
    margin-right: 3rem;
  }

  .project-container {
    max-width: 66rem;
  }

  .project-card {
    max-width: 26rem;
    max-height: 56rem;
  }

  .project-more-link:link {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 800px) {
  .headshot {
    max-width: 22rem;
    max-height: 22rem;
  }

  .headshot-container {
    max-width: 22rem;
    max-height: 22rem;
  }

  .settings-icon {
    font-size: 5rem;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-title p {
    font-size: 1.8rem;
  }

  .hero-text {
    margin: 9rem 0 0 4rem;
    padding-bottom: 10rem;
  }

  .icon-socials {
    height: 3rem;
    width: 3rem;
  }

  .socials-item {
    margin: 0.4rem
  }

  .sub-heading {
    font-size: 3.2rem; 
  }

  .information p {
    font-size: 1.8rem;
  }

  .about-section {
    padding: 4rem;
  }

  .projects-section {
    padding: 6rem;
  }

  .project-title {
    font-size: 1.8rem;
  }

  #contact-me {
    padding: 6rem;
  }

  #contact-me p {
    font-size: 2.4rem;
  }

  .skills {
    left: 15%;
    bottom: -30%;
  }
  
  .skill-icon {
    height: 5rem;
    width: 5rem;
    margin-bottom: 3.2rem;
    margin-right: 3rem;
  }

  hr {
    margin: 1rem 0.8rem 1rem 0.8rem;
  }
}

@media only screen and (max-width: 740px) {
  .project-container {
    max-width: 62rem;
  }

  .projects-section {
    padding: 4rem;
  }

  .project-card {
    max-width: 24rem;
    max-height: 52rem;
  }

  .project-more-link:link {
    font-size: 1.4rem;
  }

  .information {
    margin-bottom: 6rem;
  }

}

@media only screen and (max-width: 660px) {
  .skills {
    left: 15%;
    bottom: -16%;
  }
  
  .skill-icon {
    height: 3.5rem;
    width: 3.5rem;
    margin-bottom: 2.2rem;
    margin-right: 3rem;
  }

  .headshot {
    max-width: 20rem;
    max-height: 20rem;
  }

  .headshot-container {
    max-width: 20rem;
    max-height: 20rem;
    margin-top: 0.6rem;
  }

  .project-container {
    max-width: 60rem;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    max-width: 40rem;
    max-height: 50rem;
  }

  hr {
    margin: 0.8rem 2rem 0.8rem 2rem;
  }

  .margin-bottom {
    margin-bottom: 1.8rem;
  }

  .information {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 580px) {
  .headshot {
    max-width: 14rem;
    max-height: 14rem;
  }

  .headshot-container {
    max-width: 14rem;
    max-height: 14rem;
  }

  .settings-icon {
    font-size: 4rem;
  }

  .hero-area {
    justify-content: space-around;
  }
  
  .hero-title {
    font-size: 3.2rem;
  }

  .hero-text p {
    font-size: 1.6rem;
  }

  .hero-text {
    margin: 6rem 0 0 2rem;
    padding-bottom: 8rem;
  }

  .icon-socials {
    height: 2.5rem;
    width: 2.5rem;
  }

  .socials-item {
    margin: 0.4rem
  }

  .sub-heading {
    font-size: 2.6rem; 
  }

  .information p {
    font-size: 1.4rem;
  }

  .nav-items.show a {
    font-size: 2.4rem;
  }

  .about-section {
    padding: 4rem;
  }

  .projects-section {
    padding: 3.6rem;
  }

  .project-container {
    max-width: 54rem;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    max-width: 32rem;
    max-height: 42rem;
  }

  #contact-me {
    padding: 6rem;
  }

  #contact-me p {
    font-size: 2rem;
  }

  .skills {
    left: 12%;
    bottom: -12%;
  }
  
  .skill-icon {
    height: 3.3rem;
    width: 3.3rem;
    margin-bottom: 1.2rem;
    margin-right: 2.6rem;
  }
}

@media only screen and (max-width: 530px) {
  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    line-height: 1.2;
  }

  .skills {
    left: 15%;
    bottom: -6%;
  }
  
  .skill-icon {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
    margin-right: 2.2rem;
  }

  .project-container {
    max-width: 50rem;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    max-width: 30rem;
    max-height: 38rem;
  }
}

@media only screen and (max-width: 440px) {
  .hero-area {
    justify-content: space-around;
  }
  
  .hero-title {
    font-size: 3rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .hero-text {
    margin: 6rem 0 0 2rem;
    padding-bottom: 8rem;
  }

  .icon-socials {
    height: 2.5rem;
    width: 2.5rem;
  }

  .socials-item {
    margin: 0.4rem
  }

  .sub-heading {
    font-size: 2.6rem; 
  }

  .information p {
    font-size: 1.4rem;
  }

  .nav-items.show a {
    font-size: 2.4rem;
  }

  .about-section {
    padding: 4rem;
  }

  .projects-section {
    padding: 2.8rem;
  }

  #contact-me {
    padding: 4rem;
  }

  #contact-me p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 410px) {
  .skills {
    left: 10%;
    bottom: -8%;
  }
  
  .skill-icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-bottom: 1rem;
    margin-right: 1.8rem;
  }
}